@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin+Condensed&display=swap');

:root {
  --nav-color: #00F;
  --main-bg-color: #FFF;
  --navlinks : #FFF;
  --top-nav-bg-color: #000;
  --section-title-color: #000;
  --meta-color: #ED0;
  --main-color: #000;
  --header-font: "Merriweather", serif;
  --text-font: 'Cabin Condensed', Verdana, sans-serif;
  --header-color: #fff;
}

body {
  font-size: 20px;
  font-family: var(--text-font);
  padding: 0em;
  margin: 0;
  text-align: left;
  background-color: var(--main-bg-color);
  color: var(--main-color);
  display: flex;
  flex-direction: column;
  line-height: 1.4em;
}

.section-title, h1, h2, h3, h4 {
  font-family: var(--header-font);
  line-height: 1.2em;
}

#main-content {
  max-width: 70em;
  margin-left: auto;
  margin-right: auto;
  padding: 0.7em;
}

#topbar { 
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

#main {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
}

.section-title {
  color: var(--section-title-color);
  margin-top: 0.3em;
  border-top: 1px #ccc solid;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.category:first-of-type .section-title  {
  border-top: none;
}

.field {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}


.section {
  max-width: 20em;
}

.large-section {
  max-width: 40em;
}

#header {
  margin-top: 0.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow-x: auto;
  background-color: var(--top-nav-bg-color);
  padding: 1em;
  color: var(--header-color);
}

.inline-image {
  text-align:center;
  overflow-x: auto;
  max-width: 90vw;
}


.language-plaintext, .language-python, .highlighter-rouge {
  overflow-x: auto;
  max-width: 90vw;
  background-color: #eee;
}


.full-card {
  column-span: all;
}

.section-body {
  padding-right: 1.7em;
}


.nav-link, .nav-link:visited {
  color: var(--navlinks);
  font-size: 36px;
  margin-left: 0.4em;
  margin-right: 0.4em;
  text-align: center;
  line-height: 1.2em;
}

.topnav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 0.2em;
  margin-bottom: 0.5em;
  padding: 0.2em;
}

.text-content {
  max-width: 40em;
  padding: 0.7em;
}
.content {
	text-align: left;
}

.img-fluid {
  float: left;
  margin: 0.9rem;
}

.date {  
  margin-top: 0;
  color: var(--meta-color);
}

.main {
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}

.page {
  padding-top: 5em;
}

.news {
  padding: 1em;  
  margin: 0.1em;
}

.news h2 {
  text-align: left;
  padding: 0.2em;
  font-size: 27px;
}

p {
  text-align: justify;
  font-weight: normal;
}


a, a:visited {
  text-decoration: none;
  border-bottom: 2px solid var(--nav-color);
  color: var(--nav-color);
}

a.title-link,a.title-link:visited {
  color: #7bc;
  border: none;
}
h1, h2, h3, h4 {
  font-weight: normal;
  padding: 0.1em;
}

.active {
  color: #005 !important; 
}

.title {
  font-size: 24px;  
}

h1 {
  font-size: 220%;
  font-weight: bold;
}

h2 {
  font-size: 32px;
  font-weight: bold;  
  line-height: 1em;
  text-align: left;
}

ul li {
  display: inline;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {}

.book {
  padding: 1em;
}

.book-title {

}

.img-icon {}

.img-circular {
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
}

.img-book {
  height: 250px;
  border-radius: 200px;
}

.title-link {
  color: #555;
  text-decoration: none;
}

.title-link:hover {
  color: #ccc;
}

.btn {
  padding: 0.5rem;
  border: 1pt solid #059;
  border-radius: 0.2rem;
  margin: 0.1em;
  display: inline-block;
}

.btn-dark {
  background-color: #79A;
  border-color: #79A;
  color: #000;
}

.badge {
  font-size: 100%;
  font-weight: normal;
  margin: 2px;
}

