@import url('https://fonts.googleapis.com/css?family=Vollkorn');
@import url('https://fonts.googleapis.com/css?family=Poller+One');

body {
  font-size: 20px;
  font-family: 'Vollkorn', Georgia, serif;
  text-align: center;
  padding: 0;
  margin: 0;
}
#nav {
  margin-top: 30px;
  margin-bottom: 60px;
}
#nav li {
  border-radius: 10px;
  padding: 20px;
  background-color: #EFEFEF;
}
.navigation li {
  border-radius: 10px;
  padding: 10px;
  background-color: #555;
}
span {
  padding: 0;
  margin: 0;
}
#nav li span {
  text-align: center;
}
#nav li span a{
  font-family: "Poller One";
  color: #445;
  font-size: 30px;
}
.navigation li span a {
  font-size: 20px;
  color: #BBD;

}
.navigation {
  clear: both;
  margin-top: 80px;
  text-align: left
}
.page {
  height: 1000px;
}
.main {
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  width: 50em;
}
p {
  text-align: left;
  font-weight: normal;
  max-width: 40em;
}
a, a:visited {
 text-decoration: none;
 color: #059;
}

#writingstyle {
  background-color: #b0a046; 
  color:#FFF; 
  text-align:center;
  border-radius: 15px;
}
#aboutme{
  border-radius: 15px;
}
#logo {
  background-color: #fff;
  border-radius: 15px;
}
.title {
  text-transform: uppercase; 
  border: #000 solid;
  border-width: 0px 1px 1px 1px;
  border-radius: 0 0 20px 20px;
  width: 10em;
  text-align: center;
}

a[class="title"], a:visited[class="title"] {
  color: #000;
  font-weight: bold;
  font-size: 45px;
  text-shadow: 2px 2px 2px #ccc;*/
}

h1, h2, h3, h4 {
  margin: 0;
}
h1 {
  font-size: 56px;
  font-family: "Poller One";
  text-align: center;
}
.product {
  margin-top: 0.7em;
}
.booktype {
  display: inline;
  font-weight: normal;
  font-style: italic;
  border: 1px solid #ccc;
  background-color: #eee;
  padding: 4px;
  margin: 2px;
  text-align: center;
}
h2 {
  font-size: 32px;
  font-family: "Vollkorn";
  font-weight: bold;
  line-height: 1em;
}

ul li {
 display: inline;
}



.buttonlink {
  border: 1px solid #ccc;
  text-align: center;   
  margin: 3px;
  padding: 10px;
  background-color: #EED;
  border-radius: 7px;
  display: inline;
}
.primary {
  border: none;
  text-align: center;
  clear:both;
  margin: 0px;
  padding: 5px;
  border-radius: 7px;
}
.primary, .primary:visited {
  font-weight: bold;
  padding:0;
}

.date {
  color: #555;
  font-size: 110%;
  margin:0;
}

.extract {
  border: 1px solid #ccc;
  border-radius: 15px;
  padding: 0em;
}
.img-circular{
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
}
.floatinglink {
  position: fixed;
  margin-left: 0em;
  padding: 5pt;
  background-color:#ddd;
  border: 1px solid #ded;
  border-radius: 1pt;
  font-size: 16pt;
}
.bookcover {
  float: left;
  margin-right: 1em; 
  margin-bottom: 20px
}