@import url('https://fonts.googleapis.com/css?family=Vollkorn');

body {
  font-size: 18px;
  font-family: "Vollkorn", Georgia, serif;
  line-height: 1.8em;
  padding: 0;
  margin: 0;
  text-align: left;
}
.main {
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}

#about {
  position: fixed;
  background-color: #cde;
  height: 60px;
  float: left;
  width: 960px;
}
.page {
  padding-top: 5em;
}
.news {
  float: left;
  width: 18rem;
  padding: 0;
  border: none;
}
.news h2 {
  background-color: #efefef;
  text-align: left;
  padding: 0.2em;
}
p {
  text-align: left;
  font-weight: normal;
  max-width: 40em;
}
a, a:visited {
 text-decoration: none;
 color: #059;
}
h1, h2, h3, h4 {
  font-family: "Georgia";
}
h1 {
  font-size: 36px;
}
h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 0em;
  line-height: 1em;
  text-align: left;
}

ul li {
 display: inline;
}

.img-circular{
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
}


