body {
	font-size: 11pt;
}
.main {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
    width: 100%;
}
#about {
  width: 100%;
  margin: 0;
  float: none;
  position: relative;
}
#nav {
    visibility: hidden;
}
#mobilenav li span a {
    font-size: 13pt;
    font-family: Georgia, serif;
    font-weight: bold;
    padding: 0;
    color: #FFF;
}

.icon {
  visibility: visible;
  position: fixed;
  left: 0;
  top: 0;
  padding: 1em;
  background-color: #445;
  color: #fff;
}
.title {
    width: 100%;
    text-align: center;
}
.title a {
    text-align: center;

}
#mobilenav {
    margin-top: 1em;
    padding: 1em;
    background-color: #556;
    position: fixed;
}

#mobilenav ul {
    padding: 1em;
}
#mobilenav li {
    padding: 1px;
    margin: 0;
    display: block;
}
.page {
    padding-top: 10pt;
    clear: both;
    height: auto;
}

.buttonlink {
  display: block;
  clear: both;
}
.bookcover {
  margin-right: 5pt; 
  margin-bottom: 5pt;
  float: none;
  clear: both;
}
.booktype {
    clear: both;
}
