@import url('https://fonts.googleapis.com/css?family=Vollkorn');

#main {
	font-family: "Vollkorn", Georgia, serif;
	font-size: 18px;
	padding: 1em;
	text-align: left;
	text-rendering: optimizeLegibility;
}

.panel-nav {
	list-style-type: none;
	padding: 10px;
	border-radius: 4px;
	background-color:#dde;
	border: 1px solid #ccd;
	border-radius: 5px;
}
.panel-nav li {
	display: inline;
}
.panel-nav li a, .panel-nav li a:visited {
	color: #555;
	margin-right: 1em;
}
.buttonlink {
	border: 1px none #ccc;
	margin: 3px;
	background-color: #EED;
	padding: 10px;
	border-radius: 5px;
}
.buttonlink, .buttonlink:visited {
	color: #059;
	text-decoration: none;
}

.floatinglink {
	position: fixed;
	margin-left: -24em;
	padding: 10px;
	border-radius: 4px;
	background-color:#dde;
	border: 1px solid #ded;
	border-radius: 1pt;
	font-size: 16pt;
	text-decoration: none;
}
a, a:visited {
	color: #05F;
}
p{
	line-height: 1.3em;
}
h1 {
	font-size: 50px;
	text-align: center;
	line-height: 0.95em;
	display: inline;
}
h2 {
	font-size: 36px;
	margin-top: 0.5em;
	display: inline;
}
