@import url('https://fonts.googleapis.com/css?family=Vollkorn');

:root {
	--code-bg-color: #30353D;  
}
#main {
	font-family: "Vollkorn", Georgia, serif;
	font-size: 18px;
	padding: 1em;
	text-align: left;
	text-rendering: optimizeLegibility;

}

a, a:visited {
	text-decoration: none;
	border-bottom: 2px solid var(--nav-color);
	color: var(--nav-color);
}

pre {
	margin-left: 0.5em;
	margin-right: 0.5em;
	background-color: var(--code-bg-color);
}
code {
	font-family: monospace;
	font-size: 14px;
}
.panel-nav {
	display: flex;
	padding: 10px;
	margin-bottom: 1em;
}
.panel-nav li {
	display: inline;
}

.buttonlink {
	border: 1px none #ccc;
	margin: 3px;
	background-color: #EED;
	padding: 10px;
	border-radius: 5px;
}
.buttonlink, .buttonlink:visited {
	color: #059;
	text-decoration: none;
}

.floatinglink {
	position: fixed;
	margin-left: -24em;
	padding: 10px;
	border-radius: 4px;
	background-color:#dde;
	border: 1px solid #ded;
	border-radius: 1pt;
	font-size: 16pt;
	text-decoration: none;
}

p{
	line-height: 1.3em;
}
h1 {
	font-size: 50px;
	text-align: center;
	line-height: 0.95em;
	display: inline;
}
h2 {
	font-size: 36px;
	margin-top: 0.5em;
	display: inline;
}
