/* @import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap'); */
:root {
    --bgcolor1: #092c4d;
    --bgcolor2: #775e70;
    --textcolor: #d1c0d1;
    --buttoncolor: #854a28;
}

body {
    /* background-color: var(--bgcolor); */
    background: linear-gradient(70deg, var(--bgcolor1), var(--bgcolor2));
    background-size: 100vw 200vh;
    color: var(--textcolor);
    font-family: monospace;
    font-variant-numeric: tabular-nums;
    font-size: large;
    display: flex;
    flex-direction: column;
    align-items: center;    
    /* animation: gradient 10s infinite ease-in-out; */
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

#main {
    max-width: 20em;
}
button, input {
    font-family: monospace;
    font-size: large;
    margin-top: 0.3em;
}
h1, .h1 {
    font-size: 140%;
    text-align: center;
    margin-bottom: 0.3em;
}
button {
    outline: none;
    border: none;
    padding: 1.0em;
    color: #ccc;
    border-radius: 1.0em;
    background-color: var(--buttoncolor);
    display: block;
}
input, select {
    background-color: #CCC;
    color: #303030;
    padding: 0.5em;
    outline: none;
    border: 1px solid #ccc;    
}
th {
    text-align: center;
}

td {
    border-top: 1px solid #707070;
    text-align: right;
}
td, th {
    padding: 0.3em;
    padding-left: 1em;
    padding-right: 1em;
}
