#nav {
    display: flex;
    flex-direction: row;        
}
#error, #scripterror, #message {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

#scripterror, #error {
    color: #F00;
}
#message {
    color: #0F0;
}
#loggingPane {
    margin-left: 1em;
}