<div class="section" id="aboutme">
	<div class="section-title"><h1>About me</h1></div>
	<div class="section-body">
		<img src="images/selfie2.jpg" class="img-fluid" style="border-radius:75px" width="150">
    	<p>I am René Ghosh, a coder, writer and musician from Rigaud, Québec, now living in Paris, France. This is my homepage.</p>
	</div>
	<div class="">
    	<ul>
        	<li><a class="btn  btn-dark" href="https://twitter.com/reghosh">twitter</a></li>
        	<!-- <li><a class="btn  btn-dark" href="https://soundcloud.com/satelliteray/">soundcloud</a></li> -->
        	<li><a class="btn  btn-dark" href="mailto:rene.ghosh@gmail.com">email</a></li>
    	</ul>
	</div>
</div>
