---
layout: home
author:
  twitter: reghosh
---
<div class="row" id="aboutme" style="padding-top: 4em">
	<div class="col-sm-2">
		<img src="images/rg-2017.jpg" class="img-fluid" style="border-radius:75px" width="150">
	</div>
	<div class="col-md-7">
    	<p>I am René Ghosh, a writer and musician from Rigaud, Québec, now living in Paris, France.</p>
    	<p>I write magical punk. My stories blend elements of sci-fi and the occasional supernatural element, but never occult the human stories that are my main focus. I try to maintain an authentic and genuine voice.</p>
	</div>
	<div class="col-md-3">
    	<ul class="list-group">
        	<li><a href="{{site.facebook}}"><button class="btn btn-dark fa fa-facebook"> My facebook</button></a></li>
        	<li><a href="{{site.twitter}}"><button class="btn  btn-dark fa fa-twitter"> My twitter</button></a></li>
        	<li><a href="{{site.soundcloud}}"><button class="btn btn-dark fa fa-soundcloud"> My soundcloud</button></a></li>
        	<li><a href="mailto:{{site.email}}"><button class="btn btn-dark fa fa-envelope"> My email</button></a></li>
    	</ul>
	</div> 
</div>
{% include about.html %}

<div class="row" id="books">

<h1 style="margin-top: 2em"><span class="fa fa-book"> Books</span></h1>
<div class="container">
<div style="float:left;margin-right: 40px"><img alt="me thinking about other books" src="images/selfie.jpg" class="img-fluid" style="border-radius:75px" width="150"></div>

I've written three novels and two short story collections. The short stories were written for stage performance, all falling neatly into the readable-aloud-in-five-minutes format, whereas the novels are sprawls. Reading either depends on where you are and how much mindspace you want to spare.

{% for book in site.books | sort: 'book.release', last %}
{{book}}
{% endfor %}

</div>
</div>

<div class="row" id="music">
<h1><span class="fa fa-headphones"> Music</span></h1>
<div class="container">


<div style="float:left;margin-right: 40px"><img alt="me thinking about other music" src="images/selfie2.jpg" class="img-fluid" style="border-radius:75px" width="150"></div>

My music is released under the name of my one-man-band, Satellite Ray.

I'm currently working on an album of all-electronic music. I'm making all the music from a phone app and 
recording vocals separately.


{% for track in site.music %}
{{track}}
{% endfor %}

</div>
</div>

<div class="row page" id="other">
<div class="container-fluid">
<h1><span class="fa fa-bookmark"> Other work</span></h1>
<div style="float:left;margin-right: 40px"><img alt="me thinking about other stuff" src="images/selfie3.jpg" class="img-fluid" style="border-radius:75px" width="150"></div>

{% for link in site.published | sort: 'date' %}
{{link}}
{% endfor %}

</div>
</div>

<div class="row page" id="current">
<div class="container">
<h1><span class="fa fa-spinner"> Current work</span></h1>
I'm currently working on a collection of short stories with all the open mic stuff from 2018, and also
on a novel, a short one, about collecting sperm samples from a fictitious badger species in a fictitious country. The tentative title on the latter is "Sperm Hunters".
</div>
</div>

<script type="application/ld+json">
{ 
"@context": "http://schema.org", 
"@type": "WebSite", 
"url": "https://reneghosh.github.io/", 
"name": "René Ghosh, writer, musician",
 "author": {
    "@type": "Person",
    "name": "René Ghosh"
  },
"description": "René Ghosh, writer and musician. Books, music, and links to articles.",
"publisher": "René Ghosh"
}
</script>

