---
layout: home
author:
  twitter: reghosh
---
<div class="row" id="aboutme" style="padding-top: 4em">
	<div class="col-sm-2">
		<img src="images/rg-2017.jpg" class="img-fluid" style="border-radius:75px" width="150">
	</div>
	<div class="col-md-7">
    	<p>I am René Ghosh, a writer and musician from Rigaud, Québec, now living in Paris, France.</p>
    	<p>I write magical punk. My stories blend elements of sci-fi and the occasional supernatural element, but never occult the human stories that are my main focus. I try to maintain an authentic and genuine voice.</p>
	</div>
	<div class="col-md-3">
    	<ul class="list-group">
        	<li><a href="{{site.facebook}}"><button class="btn btn-dark fa fa-facebook"> My facebook</button></a></li>
        	<li><a href="{{site.twitter}}"><button class="btn  btn-dark fa fa-twitter"> My twitter</button></a></li>
        	<li><a href="{{site.soundcloud}}"><button class="btn btn-dark fa fa-soundcloud"> My soundcloud</button></a></li>
        	<li><a href="mailto:{{site.email}}"><button class="btn btn-dark fa fa-envelope"> My email</button></a></li>
    	</ul>
	</div>
</div>
