<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="{{site.description}}">
  <meta name="keywords" content="{{site.keywords}}">
  <meta name="author" content="René Ghosh">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="home.css" type="text/css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Person",
    "name": "René Ghosh",
    "url":
"{{project.url}}",
    "sameAs": [
      "{{project.facebook}}",
      "{{project.twitter}}",
      "{{project.soundcloud}}"
    ]
  }
  </script>
  {% seo %}
</head>
    <body data-spy="scroll" data-target="#thenavbar">
