<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>{{page.title}}</title>
		<meta name="author" content="René Ghosh">
		<meta name="description" content="{{page.keywords}}">
		<link rel="icon" type="image/ico" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link rel="canonical" href="{{ site.url }}{{ page.url | replace:'index.html',''}}">
		<link rel="stylesheet" href="../home.css" type="text/css">
	</head>
	<body>
		<div id="header" class="row">
			<div class="topnav">
				<div><a class="nav-link" href="../index.html">René Ghosh</a></div>
				<!-- <div><a class="nav-link" href="../index.html#books">Books</a></div> -->
				<div><a class="nav-link" href="../index.html#articles">articles</a></div>
				<div><a class="nav-link" href="../index.html#code">code</a></div>
				<div><a class="nav-link" href="../index.html#aboutme">about me</a></div>
			</div>
		</div>
		<div class="container">
			<div class="content text-content">
				{{content }}
			</div>
		</div>
		</div>
	</body>
</html>