<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta charset="UTF-8"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="../text.css"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="description" content="{{page.keywords}}">
        <title>{{page.title}}</title>
	<link rel="canonical" href="{{ site.url }}{{ page.url | replace:'index.html',''}}">
        <meta name="description" content="The Memory Monkey - extract">
        <meta name="author" content="René Ghosh">
    </head>
  <body>
    <div id="main" class="container">
    	{{content | markdownify}}
    </div>
  </body>
</html>
